<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>M07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="css/guestbook.css">
<link rel="stylesheet" type="text/css" href="css/Scribner_Garrett.css">
</head>
<body class="container">
        <nav>
                <ul>
                    <li>
                        <a href = "home"> Home </a>
                    </li>
                    <li>
                        <a href = "calculator"> Calculator </a>
                    </li>
                    <li>
                        <a href = "contact"> Contact </a>
                    </li>
                    <li>
                            <a href = "guestbook"> Guest Book </a>
                        </li>
    
                </ul>
            </nav>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>